# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/bin
/out
/pack
/PG94_x64_v141_xp
/PG94_x86_v141_xp
/PG95_x64_v141_xp
/PG95_x86_v141_xp
/PG96_x64_v141_xp
/PG96_x86_v141_xp
/PG100_x64_v141_xp
/PG100_x86_v141_xp
/PG110_x64_v141_xp
/PG120_x64_v141_xp
/PG130_x64_v141_xp
/packs
